[Unit]
Description=Serve King File
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/bin/koth
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
