[Unit]
Description=Serve King File
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root
ExecStart=/bin/bash -c "FLASK_APP=/usr/bin/koth.py flask run --host=0.0.0.0 --port=9999"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
